<!-- 404 manage in storyblok -->

{{ blok._editable|raw }}
<div class="c-page-404 u-pad-t-sm u-pad-b-sm u-pad-t-xs--xs u-pad-b-xs--xs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div>{{ blok.content|richtext }}</div>
			</div>
		</div>
	</div>
</div>
