<header class="c-header u-antialiased" role="banner">
    <nav role="navigation" class="c-header__supra-nav navbar navbar-dark navbar-expand-md supra" aria-label="Complementary navigation">
        <div class="container">
            <div class="row u-full-width">
                <div class="d-flex justify-content-between u-full-width">
                    <ul class="c-header__supra-nav-left">
                        <li class="nav-item u-inline-block"><a class="nav-link active" aria-current="page" href="#">Particuliers</a></li>
                        <li class="nav-item u-inline-block"><a class="nav-link" href="#">Indépendants</a></li>
                        <li class="nav-item u-inline-block"><a class="nav-link" href="#">Entreprises</a></li>
                    </ul>
                    <ul class="c-header__supra-nav-right">
                        <li class="u-inline-block">
                            <ul>
                                <li class="nav-item u-inline-block"><a class="nav-link" href="#">Recharger en ligne</a></li>
                                <li class="nav-item u-inline-block"><a class="nav-link" href="#">Trouver un shop</a></li>
                                <li class="nav-item u-inline-block"><a class="nav-link" href="#">Nous contacter</a></li>
                            </ul>
                        </li>
                        <li class="u-inline-block">
                            <ul>
                                <li class="nav-item u-inline-block active"><a class="nav-link" href="#">FR</a></li>
                                <li class="nav-item u-inline-block"><a class="nav-link" href="#">EN</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav role="navigation" class="c-header__navigation navbar navbar-dark navbar-expand-md" aria-label="Main navigation">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/766px-Orange_logo.svg.png" alt="Back to homepage" title="Back to homepage" width="50" height="50" loading="lazy"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar2" aria-controls="collapsing-navbar2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="c-header__navigation-container navbar-collapse justify-content-between collapse" id="collapsing-navbar2">
                <ul class="d-block d-md-none u-right">
                    <li class="nav-item u-inline-block active">
                        <a class="u-pad-l-xxxs u-pad-r-xxxs u-pad-t-0 nav-link" href="#">FR</a>
                    </li>
                    <li class="nav-item u-inline-block">
                        <a class="u-pad-l-xxxs u-pad-r-xxxs u-pad-t-0 nav-link" href="#">EN</a>
                    </li>
                </ul>
                <form class="c-searchbar-mobile form-inline d-block d-md-none u-marg-b-xxs">
                    <input class="c-searchbar-mobile__input form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="c-searchbar-mobile__button" type="submit"></button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item js-toggle-drop" data-drop-device="tablet">
                        <a class="nav-link js-drop-btn" href="#">Discover</a>
                        <div class="c-header__navigation-panel js-drop-wrapper" id="Discover">
                            <div class="container">
                                <div class="row u-full-width">
                                    <div class="col-12 col-md-3">
                                        <ul class="c-header__navigation-list">
                                            <li class="c-header__navigation-list-item">
                                                <a href="#">Abonnement mobile</a>
                                            </li>
                                            <li class="c-header__navigation-list-item">
                                                <a href="#">Téléphone avec abonnement</a>
                                            </li>
                                            <li class="c-header__navigation-list-item">
                                                <a href="#">Carte prépayée</a>
                                            </li>
                                            <li class="c-header__navigation-list-item js-toggle-drop" data-drop-device="tablet" data-drop-parent="#Discover">
                                                <a href="#" class="js-drop-btn">Voir aussi</a>
                                                <ul class="c-header__navigation-list c-header__navigation-list--child js-drop-wrapper">
                                                    <li class="c-header__navigation-list-item">
                                                        <a href="#">Option et services</a>
                                                    </li>
                                                    <li class="c-header__navigation-list-item">
                                                        <a href="#">La 5G Orange</a>
                                                    </li>
                                                    <li class="c-header__navigation-list-item">
                                                        <a href="#">Réseau Orange</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-3 offset-md-1">
                                        <ul class="c-header__navigation-list">
                                            <li class="c-header__navigation-list-item js-toggle-drop" data-drop-device="tablet" data-drop-parent="#Discover">
                                                <a href="#" class="js-drop-btn">Bon plans</a>
                                                <ul class="c-header__navigation-list c-header__navigation-list--child js-drop-wrapper">
                                                    <li class="c-header__navigation-list-item">
                                                        <a href="#">Flashsales</a>
                                                    </li>
                                                    <li class="c-header__navigation-list-item">
                                                        <a href="#">Télélphones en promotion</a>
                                                    </li>
                                                    <li class="c-header__navigation-list-item">
                                                        <a href="#">Orange reprise</a>
                                                    </li>
                                                    <li class="c-header__navigation-list-item">
                                                        <a href="#">Portabilité : 100€ offerts</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="c-header__navigation-list-item">
                                                <a href="#">Téléphone avec abonnement</a>
                                            </li>
                                            <li class="c-header__navigation-list-item">
                                                <a href="#">Carte prépayée</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-4 offset-md-1 d-none d-sm-block">
                                        <div class="c-header__navigation-push u-box-21by10 u-relative">
                                            <div class="js-image-cover-wrapper">
                                                <img class="js-image-cover" src="https://picsum.photos/id/237/840/400">
                                            </div>
                                            <div class="c-header__navigation-push-infos">
                                                <p class="t-h2 u-marg-b-xs">Découvrez la puissance de la 5G Orange</p>
                                                <a class="btn btn-inverse btn-info" href="">Découvrir</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">My Orange</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                </ul>
                <ul class="navbar-nav d-none d-md-flex">
                    <li class="nav-item">
                        <button type="button" class="nav-link btn btn-icon nav-icon svg-search collapsed" data-toggle="collapse" data-target="#search-bar" aria-expanded="false" aria-controls="search-bar">
                            <span class="sr-only">open search</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-icon svg-buy">
                            <span class="sr-only">open basket</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-icon svg-avatar">
                            <span class="sr-only">my account</span>
                        </a>
                    </li>
                </ul>
                <ul class="d-block d-md-none u-pad-t-xxs">
                    <li class="u-marg-b-xxs">
                        <a href="#" class="">
                            <span class="icon-control-centre h4 mb-0 mr-1" aria-hidden="true"></span>
                            <span>Language</span>
                        </a>
                    </li>
                    <li class="u-marg-b-xxs">
                        <a href="#" class="">
                            <span class="icon-control-centre h4 mb-0 mr-1" aria-hidden="true"></span>
                            <span>Trouver un shop</span>
                        </a>
                    </li>
                    <li class="u-marg-b-xxs">
                        <a href="#" class="">
                            <span class="icon-control-centre h4 mb-0 mr-1" aria-hidden="true"></span>
                            <span>Recharger</span>
                        </a>
                    </li>
                </ul>
                <ul class="d-block d-md-none u-pad-t-xxs u-pad-b-xxs">
                    <li class="nav-item u-inline-block"><a class="u-pad-l-0 u-pad-r-0 u-marg-r-xxxs nav-link active" aria-current="page" href="#">Particuliers</a></li>
                    <li class="nav-item u-inline-block"><a class="u-pad-l-0 u-pad-r-0 u-marg-r-xxxs nav-link" href="#">Indépendants</a></li>
                    <li class="nav-item u-inline-block"><a class="u-pad-l-0 u-pad-r-0 u-marg-r-xxxs nav-link" href="#">Entreprises</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-dark collapse" id="search-bar">
        <div class="container">
            <form class="container-lg d-flex py-3" role="search">
                <input type="search" class="form-control form-control-lg bg-dark" placeholder="Search" aria-label="Search">
                <button class="btn btn-inverse btn-secondary btn-lg" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>