<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storyblok</title>
    <link rel="stylesheet" href="/assets/dist/css/theme.css">
</head>
<body>
<div class="page-wrapper"><!-- MAGENTO WRAPPER MARKUP -->

{% include 'header.twig' %}

<!-- PLAN TITLE -->
<div class="u-pad-t-lg u-pad-b-md u-pad-t-md--sm u-pad-b-lg--sm" style="background-color: #50BE87;">
    <div class="container">
        <h1 class="t-h1">Forfait MoveUnlimited</h1>
    </div>
</div>
<div class="container">
    <div class="c-plan-single row align-items-start">
        <div class="col-12 col-md-4 order-md-1 c-plan-single__sticky-container">
            <div class="c-plan-single__price-box">
                <div class="c-pricing c-pricing--plan u-marg-b-sm">
                    <div class="c-pricing__price u-inline-block u-orange">
                        <div class="c-pricing__left-amount">59</div>
                        <div class="c-pricing__right-amount">
                            <span>€</span>
                            <span>/mois</span>
                        </div>
                    </div>
                    <div class="u-marg-t-xxxs">Avec ou sans engagement</div>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">
                        <span>Sans nouveau téléphone</span>
                        <span class="u-marg-l-xxxs svg-sim"></span>
                        <div class="t-text u-bold u-grey-text">Sans engagement</div>
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">
                        <span>Avec un nouveau téléphone</span>
                        <span class="u-marg-l-xxxs svg-phone"></span>
                        <div class="t-text u-bold u-grey-text">Avec engagement 24 mois</div>
                    </label>
                </div>
                <a href="#" class="btn btn-primary btn-lg u-full-width u-block">Commander</a>
            </div>
        </div>
        <div class="col-12 col-md-8 order-md-0">
            <div class="row u-pad-t-ml u-pad-b-ml">
                <div class="c-item-feature col-12 col-md-6 u-marg-b-ml u-marg-b-md--xs">
                    <img src="https://via.placeholder.com/100x100" class="c-item-feature__image" alt="">
                    <div class="c-item-feature__infos">
                        <p class="t-h2 t-h2--big">Internet mobile illimité</p>
                        <p class="t-text">au luxembourg</p>
                    </div>
                </div>
                <div class="c-item-feature col-12 col-md-6 u-marg-b-ml u-marg-b-md--xs">
                    <img src="https://via.placeholder.com/100x100" class="c-item-feature__image" alt="">
                    <div class="c-item-feature__infos">
                        <p class="t-h2 t-h2--big">+30GB en Europe et USA</p>
                        <p class="t-text"> au Luxembourg, vers et depuis l’Europe et USA</p>
                    </div>
                </div>
                <div class="c-item-feature col-12 col-md-6 u-marg-b-ml u-marg-b-md--xs">
                    <img src="https://via.placeholder.com/100x100" class="c-item-feature__image" alt="">
                    <div class="c-item-feature__infos">
                        <p class="t-h2 t-h2--big">Appels et sms inclus</p>
                        <p class="t-text">au Luxembourg, vers et depuis l’Europe et USA</p>
                    </div>
                </div>
                <div class="c-item-feature col-12 col-md-6 u-marg-b-ml u-marg-b-md--xs">
                    <img src="https://via.placeholder.com/100x100" class="c-item-feature__image" alt="">
                    <div class="c-item-feature__infos">
                        <p class="t-h2 t-h2--big">500 unités</p>
                        <p class="t-text"> + 1GB dans la zone Best Destination</p>
                    </div>
                </div>
            </div>
            <div class="c-plan-single__options">
                <p class="t-h1 u-orange u-marg-b-sm">Services inclus</p>
                <div class="c-plan-single__options-grid row">
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-plan-single__options u-marg-t-ml">
                <p class="t-h1 u-orange u-marg-b-sm">Recharges</p>
                <div class="c-plan-single__options-grid row">
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 u-marg-b-sm">
                        <div class="c-option-block">
                            <div class="c-option-block__top">
                                <p class="t-h2 u-marg-b-xxs u-pad-r-xs">Orange Wednesday</p>
                                <span class="t-label t-label--big t-label--black">Inclus</span>
                            </div>
                            <p class="u-grey-text t-text">Chaque mercredi, 1 place acheté = 1 place offerte pour tous les clients Orange dans les cinémas Kinepolis et Ciné Utopia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% set adbanner = {
    "content": {
        "title" : "-100€ avec un forfait illimité",
        "text" : "Sur le forfait Samsung Galaxy S20 Ultra 5G",
        "link" : "test",
        "link_title" : "En profiter",
        "appearance" : 'cover'
    }
} %}
{% include 'ad-banner.twig'  with {blok: adbanner.content} %}


{% set bestsellers = {
    "content":{
        "title": "Les meilleures ventes orange",
        "columns": [
            {
                "logo": {
                "id": null,
                "alt": null,
                "name": "",
                "focus": null,
                "title": null,
                "filename": null,
                "copyright": null,
                "fieldtype": "asset"
                },
                "brand": "Apple",
                "image": {
                "id": 1541089,
                "alt": null,
                "name": "",
                "focus": null,
                "title": null,
                "filename": "",
                "copyright": null,
                "fieldtype": "asset"
                },
                "pricing": "60€",
                "component": "simple-product-card",
                "pricing_muted": "Avec abonnement "
            },
            {
                "logo": {
                "id": null,
                "alt": null,
                "name": "",
                "focus": null,
                "title": null,
                "filename": null,
                "copyright": null,
                "fieldtype": "asset"
                },
                "brand": "Apple",
                "image": {
                "id": 1541089,
                "alt": null,
                "name": "",
                "focus": null,
                "title": null,
                "filename": "",
                "copyright": null,
                "fieldtype": "asset"
                },
                "pricing": "59€",
                "component": "simple-product-card",
                "pricing_muted": "Avec abonnement "
            },
            {
                "logo": {
                "id": null,
                "alt": null,
                "name": "",
                "focus": null,
                "title": null,
                "filename": null,
                "copyright": null,
                "fieldtype": "asset"
                },
                "brand": "Apple",
                "image": {
                "id": 1541089,
                "alt": null,
                "name": "",
                "focus": null,
                "title": null,
                "filename": "",
                "copyright": null,
                "fieldtype": "asset"
                },
                "pricing": "159€",
                "component": "simple-product-card",
                "pricing_muted": "Avec abonnement "
            },
            {
                "logo": {
                "id": null,
                "alt": null,
                "name": "",
                "focus": null,
                "title": null,
                "filename": null,
                "copyright": null,
                "fieldtype": "asset"
                },
                "brand": "Apple",
                "image": {
                "id": 1541089,
                "alt": null,
                "name": "",
                "focus": null,
                "title": null,
                "filename": "",
                "copyright": null,
                "fieldtype": "asset"
                },
                "pricing": "69€",
                "component": "simple-product-card",
                "pricing_muted": "Avec abonnement "
            }
        ],
        "component": "best-sellers"
    }
} %}
{% include 'best-sellers.twig' with {blok: bestsellers.content} %}


{% set seo = {
    "content":{
        "title" : "Titre SEO Lorem ispum dolor sit amet consectetur",
        "text" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem. Praesent porttitor porttitor risus, dapibus rutrum ipsum gravida et. Integer lectus nisi, facilisis sit amet eleifend nec, pharetra ut augue. Integer quam nunc, consequat nec egestas ac, volutpat ac nisi. Sed consectetur dignissim dignissim. Donec pretium est sit amet ipsum fringilla feugiat. Aliquam erat volutpat. Maecenas scelerisque, orci sit amet cursus tincidunt, libero nisl eleifend tortor, vitae"
    }
} %}
{% include 'seo.twig' with {blok: seo.content} %}


</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/boosted@4.5.2/dist/js/boosted.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>
<script src="/assets/dist/js/bundle.js"></script>
</body>
