<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storyblok</title>
    <link rel="stylesheet" href="/storyblok_staging/assets/dist/css/theme.css">
</head>
<body>
<div class="page-wrapper"><!-- MAGENTO WRAPPER MARKUP -->

<div class="container">
    <a class="btn btn-primary u-marg-t-sm u-inline-block" href="/front/">Retour</a>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-12 u-marg-b-xs">
            <p class="t-h1">Lorem ipsum</p>
            <code class="u-marg-t-xxs u-inline-block">.t-h1 (30px, mobile 24px)</code>
        </div>
        <div class="col-12 u-marg-b-xs">
            <p class="t-h2">Lorem ipsum</p>
            <code class="u-marg-t-xxs u-inline-block">.t-h2 (18px)</code>
        </div>
        <div class="col-12 u-marg-b-xs">
            <p class="t-h3">Lorem ipsum</p>
            <code class="u-marg-t-xxs u-inline-block">.t-h3 (16px)</code>
        </div>
        <div class="col-12 u-marg-b-xs">
            <p class="t-text t-text">Lorem ipsum</p>
            <code class="u-marg-t-xxs u-inline-block">.t-text (14px)</code>
        </div>
        <div class="col-12">
            <p class="t-text t-text--small">Lorem ipsum</p>
            <code class="u-marg-t-xxs u-inline-block">.t-text--small (11px)</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-12 u-marg-b-xs">
            <p class="t-h1 u-orange">Text color</p>
            <code class="u-marg-t-xxs u-inline-block">.u-orange</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-6 u-marg-b-sm">
            <p class="t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <code class="u-marg-t-xxs u-inline-block">.t-text (14px)</code>
        </div>
        <div class="col-6 u-marg-b-sm">
            <p class="t-text u-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <code class="u-marg-t-xxs u-inline-block">.t-text (14px), .u-grey-text</code>
        </div>
        <div class="col-6 u-marg-b-sm">
            <p class="t-text t-text--small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <code class="u-marg-t-xxs u-inline-block">.t-text--small (11px)</code>
        </div>
        <div class="col-6 u-marg-b-sm">
            <p class="t-text t-text--small u-grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <code class="u-marg-t-xxs u-inline-block">.t-text--small (11px), .u-grey-text</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col">
            <div class="t-label t-label--black t-label">Label</div>
            <code class="u-marg-t-xxs u-block">.t-label--black</code>
        </div>
        <div class="col">
            <div class="t-label t-label--orange">Label</div>
            <code class="u-marg-t-xxs u-block">.t-label--orange</code>
        </div>
        <div class="col">
            <div class="t-label t-label--blue">Label</div>
            <code class="u-marg-t-xxs u-block">.t-label--blue</code>
        </div>
        <div class="col">
            <div class="t-label t-label--green">Label</div>
            <code class="u-marg-t-xxs u-block">.t-label--green</code>
        </div>
        <div class="col">
            <div class="t-label t-label--grey">Label</div>
            <code class="u-marg-t-xxs u-block">.t-label--grey</code>
        </div>
        <div class="col">
            <div class="t-label t-label--pink">Label</div>
            <code class="u-marg-t-xxs u-block">.t-label--pink</code>
        </div>
        <div class="col">
            <div class="t-label t-label--yellow">Label</div>
            <code class="u-marg-t-xxs u-block">.t-label--yellow</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col">
            <div class="t-label t-label--black t-label--big">Label</div>
            <code class="u-marg-t-xxs u-block">.t-label--big</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-2">
            <div class="c-pricing">
                <p class="c-pricing__price">59€</p>
                <p class="c-pricing__muted-text">Avec abonnement</p>
            </div>
            <code class="u-marg-t-xxs u-block">.c-pricing</code>
        </div>
        <div class="col-2">
            <div class="c-pricing c-pricing--big">
                <p class="c-pricing__price">59€</p>
                <p class="c-pricing__muted-text">Avec abonnement</p>
            </div>
            <code class="u-marg-t-xxs u-block">.c-pricing--big</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-12">
            <div class="c-brand">
                <a href="#">
                    <img class="c-brand__logo" src="https://via.placeholder.com/32x32">
                    <span class="c-brand__name">Apple</span>
                </a>
            </div>
            <code class="u-marg-t-xxs u-block">.c-brand</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-2">
            <div class="c-color-swatch" style="background-color: #4E5852"></div>
            <div class="c-color-swatch u-marg-l-xxs" style="background-color: #FAD7BE"></div>
            <div class="c-color-swatch u-marg-l-xxs" style="background-color: #EBEBE3"></div>
            <code class="u-marg-t-xxs u-block">.c-color-swatch</code>
        </div>
        <div class="col-2">
            <div class="c-color-swatch c-color-swatch--big" style="background-color: #4E5852"></div>
            <div class="c-color-swatch c-color-swatch--big u-marg-l-xxs" style="background-color: #FAD7BE"></div>
            <div class="c-color-swatch c-color-swatch--big u-marg-l-xxs" style="background-color: #EBEBE3"></div>
            <code class="u-marg-t-xxs u-block">.c-color-swatch--big</code>
        </div>
        <div class="col-2">
            <div class="c-color-swatch c-color-swatch--big c-color-swatch--has-hover" style="background-color: #4E5852"></div>
            <div class="c-color-swatch c-color-swatch--big c-color-swatch--has-hover u-marg-l-xxs" style="background-color: #FAD7BE"></div>
            <div class="c-color-swatch c-color-swatch--big c-color-swatch--has-hover u-marg-l-xxs" style="background-color: #EBEBE3"></div>
            <code class="u-marg-t-xxs u-block">.c-color-swatch--has-hover</code>
        </div>
        <div class="col-2">
            <div class="c-color-swatch c-color-swatch--big c-color-swatch--has-hover is-active" style="background-color: #4E5852"></div>
            <code class="u-marg-t-xxs u-block">.is-active</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-12">
            <ul class="c-capacity">
                <li class="c-capacity__item">64Gb</li>
                <li class="c-capacity__item">256Gb</li>
                <li class="c-capacity__item">512Gb</li>
            </ul>
            <code class="u-marg-t-xxs u-block">.c-capacity</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-12">
            <button class="t-button t-button--rounded">128GB</button>
            <code class="u-marg-t-xxs u-block">.t-button--rounded</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-12">
            <div class="c-sticker u-marg-b-xxxs">
                <div class="c-sticker__thumbnail" style="background-color: #FFB4E6">
                    <img src="https://via.placeholder.com/64x64">
                </div>
                <span class="c-sticker__caption">Sur ce mobile avec l’achat d’un forfait MoveUnlimited</span>
            </div>
            <div class="c-sticker u-marg-b-xxxs">
                <div class="c-sticker__thumbnail" style="background-color: #4BB4E6">
                    <img src="https://via.placeholder.com/64x64">
                </div>
                <span class="c-sticker__caption">Offre de remboursement Samsung -100€</span>
            </div>
            <code class="u-marg-t-xxs u-block">.c-sticker</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-md-2">
            <span class="c-status c-status--ok">Disponible</span>
            <code class="u-marg-t-xxs u-block">.c-status--ok</code>
        </div>
        <div class="col-md-2">
            <span class="c-status c-status--warn">Bientôt disponible</span>
            <code class="u-marg-t-xxs u-block">.c-status--warn</code>
        </div>
        <div class="col-md-2">
            <span class="c-status c-status--ko">Indisponible</span>
            <code class="u-marg-t-xxs u-block">.c-status--ko</code>
        </div>
    </div>
    <div class="row u-pad-t-md u-pad-b-md">
        <div class="col-md-4">
            <ul class="u-pad-sm">
                <li><a href="#" class="t-list-arrow u-bold" title="Lorem ipsum">Lorem ipsum</a></li>
            </ul>
            <code class="u-marg-t-xxs u-block">.t-list-arrow</code>
        </div>
        <div class="col-md-4">
            <ul class="u-pad-sm u-bg-black u-white">
                <li><a href="#" class="t-list-arrow u-bold u-antialiased" title="Lorem ipsum">Lorem ipsum white text</a></li>
            </ul>
            <code class="u-marg-t-xxs u-block">.t-list-arrow</code>
        </div>
    </div>
</div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/boosted@4.5.2/dist/js/boosted.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>
<script src="/storyblok_staging/assets/dist/js/bundle.js"></script>
</body>
