<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storyblok - {{ story.name }}</title>
    <link rel="stylesheet" href="/assets/dist/css/theme.css">
</head>
<body>
{% include 'header.twig' %}

{% include story.content.component ~ '.twig' with {blok: story.content, title: story.name, date: story.created_at} %}
<script type="text/javascript" src="//app.storyblok.com/storyblok-latest.js"></script>
<script type="text/javascript">

    // Initialize the Storyblok JS Bridge
    window.storyblok.init({
        accessToken: "{{ public_token }}"
    })

    // Ping the Visual Editor and enter Editmode manually
    window.storyblok.pingEditor(function () {
        if (window.storyblok.inEditor) {
            window.storyblok.enterEditmode()
        }
    })

    window.storyblok.on(['change', 'published'], () => {
        window.location.reload(true);
    })


</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/boosted@4.5.2/dist/js/boosted.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>
<script src="/assets/dist/js/bundle.js"></script>
</body>
